body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header, .header__nav, .header-nav__list, .main, .social .social__list, .slider, .HowItWorks_cart, .HowItWorks_cart .HowItWorks_cart_wrap, .PetsSlider, .PetsSlider .slider_pets, .stepsToPay, .footer .foot-wrap-first .InfoAboutUs .FooterNavi, .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapp {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 1200px) {
  .wrapp {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.wrap {
  width: 100%;
}
@media (max-width: 1200px) {
  .wrap {
    max-width: 1200px;
  }
}

.header {
  margin: 20px auto;
  max-width: 1620px;
  flex-direction: row;
  width: 95%;
}
@media (max-width: 1200px) {
  .header {
    max-width: 1200px;
    width: 91%;
    justify-content: space-evenly;
  }
}

.header__logo {
  width: 60px;
  height: 45px;
  border-radius: 5px;
}
.header__logo:hover {
  transition: 2s;
  box-shadow: 1px 5px 5px #49d6df;
}

.header__nav {
  height: 42px;
  min-width: 55%;
}

.header-nav__list {
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100%;
}
.header-nav__list li {
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-nav__list li a {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
  text-align: center;
  vertical-align: middle;
}
.header-nav__list li a:hover {
  transition: 2s;
  text-shadow: 3px 5px 5px #49d6df;
  color: #4bd8b5;
  text-decoration: underline;
}

.changeTheme {
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
}
.changeTheme input {
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  background-color: #F2F2F2;
  border-radius: 20px;
  transition: .5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.changeTheme input:cheked {
  background-color: grey;
}
.changeTheme input:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: white;
  transition: .5s;
  transform: scale(1.1);
  box-shadow: 0 1px 2px whitesmoke;
}
.changeTheme input:checked:before {
  left: 22px;
}

.header__burger {
  display: none;
  width: 40px;
  height: 21px;
  justify-content: left;
  flex-direction: column;
}

@media (max-width: 640px) {
  .wrap {
    position: fixed;
    z-index: 5;
    background: #F2F2F2;
  }
  .wrap .header {
    width: 94%;
    justify-content: space-between;
    position: relative;
  }
  .wrap .header .changeTheme {
    position: absolute;
    top: 14%;
    right: 13%;
  }
  .wrap .header .header__nav {
    display: none;
  }
  .wrap .header .header__burger {
    display: flex;
    position: relative;
  }
  .wrap .header .header__burger span {
    width: 100%;
    position: absolute;
    background-color: #333333;
    height: 2px;
    top: 10px;
  }
  .wrap .header .header__burger::before, .wrap .header .header__burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333333;
  }
  .wrap .header .header__burger::after {
    bottom: 0;
    right: 0;
    width: 33px;
  }
}
@media (max-width: 320px) {
  .header .changeTheme {
    right: 23%;
  }
}
.main {
  margin: 85px auto 0;
  flex-direction: column;
  max-width: 1920px;
}
@media (max-width: 1200px) {
  .main {
    max-width: 1200px;
  }
}

.animalSelection {
  background-image: url("assets/firstScreen.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 940px;
  position: relative;
  overflow: hidden;
}

.social {
  position: absolute;
  top: 732px;
  left: 150px;
  width: 20px;
  height: auto;
}
.social .social__list {
  margin: 0;
  padding: 0;
  flex-direction: column;
}
.social .social__list li {
  list-style-type: none;
  border-radius: 10px;
}
@media (min-width: 1201px) {
  .social .social__list li {
    padding: 10px;
  }
}
.social .social__list li a {
  text-decoration: none;
}

#Inst:hover {
  background: linear-gradient(335deg, #d8d44b 35%, #b549df 78%);
}

#Twit:hover {
  background: #00acee;
}

#Youtube:hover {
  background: red;
}

#VK:hover {
  background: #597da3;
}

.WatchingAnimal {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 89px;
  font-weight: 900;
}
.WatchingAnimal .WatchingAnimal__title {
  position: absolute;
  height: auto;
}
@media (min-width: 1201px) {
  .WatchingAnimal .WatchingAnimal__title {
    top: 206px;
    left: 360px;
    width: 795px;
  }
}
.WatchingAnimal .WatchingAnimal__title p {
  margin: 0;
  padding: 0;
}
.WatchingAnimal .WatchingAnimal__title button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 245px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background: #4bd8b5;
  background: linear-gradient(90deg, #4bd8b5 35%, #49d6df 100%);
}
.WatchingAnimal .WatchingAnimal__title button p {
  padding-left: 5px;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

#FirstScreen__button:hover {
  background: linear-gradient(90deg, #cf4bd8 35%, #4963df 100%);
  cursor: pointer;
}

#FirstScreen__button:active {
  background: yellowgreen;
}

.slider {
  width: 1100px;
  height: 421px;
}
@media (min-width: 1201px) {
  .slider {
    position: absolute;
    top: 450px;
    left: 950px;
  }
}
.slider div {
  position: relative;
  width: 140px;
  height: 203px;
}
.slider div:hover {
  transform: scale(2);
  transition: 1.5s;
  z-index: 100;
}
.slider div:hover p, .slider div:hover button {
  opacity: 1;
}
.slider div .title {
  opacity: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  position: absolute;
  color: white;
  top: 35%;
  left: 10px;
}
.slider div img {
  object-fit: cover;
  border-radius: 15%;
}
@media (min-width: 1201px) {
  .slider div img {
    width: 140px;
    height: 203px;
  }
}
.slider div button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 24px;
  border: none;
  opacity: 0;
  background: inherit;
  position: absolute;
  top: 80%;
  left: 5%;
  text-transform: uppercase;
}
.slider div button a {
  text-decoration: none;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider div button a #nameBut {
  color: #4bd8b5;
  font-family: 'Roboto', sans-serif;
  font-size: 5px;
}
.slider div button a #nameButDonate {
  color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
  font-size: 5px;
}
.slider div button a .imgBut {
  width: 25px;
  height: 25px;
}

#sliderTopBlock {
  margin: 0 0 40px;
  display: block;
  appearance: none;
  height: 5px;
  background-color: rgba(189, 189, 189, 0.57);
  margin-top: 14px;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  width: 245px;
}
@media (min-width: 1201px) {
  #sliderTopBlock {
    position: absolute;
    top: 825px;
    right: 530px;
  }
}

@media (min-width: 1201px) {
  #rangeTop {
    position: absolute;
    top: 760px;
    right: 600px;
  }
}

@media (max-width: 1200px) {
  .social {
    top: 746px;
    left: 12.5%;
  }
  .social .social__item {
    padding: 0;
    padding: 4px;
  }

  .WatchingAnimal__title {
    width: 85%;
    top: 13.5%;
    left: 12.5%;
  }
  .WatchingAnimal__title #FirstScreen__button {
    margin-top: 35px;
  }

  .slider {
    position: absolute;
    top: 43%;
    left: 64.5%;
  }
  .slider div {
    width: 180px;
    height: 261px;
    margin: 13px;
  }
  .slider div img {
    width: 180px;
    height: 261px;
  }

  #rangeTop {
    font-size: 25px;
    position: absolute;
    top: 798px;
    right: 197px;
  }

  #sliderTopBlock {
    position: absolute;
    top: 838px;
    right: 123px;
  }
}
@media (max-width: 850px) {
  .WatchingAnimal__title {
    width: 85%;
    top: 7%;
    left: 7%;
  }
}
@media (max-width: 640px) {
  .social {
    top: 77%;
    left: 3%;
  }

  .WatchingAnimal__title {
    font-size: 64px;
    width: 90%;
    top: 13%;
    left: 3%;
  }
  .WatchingAnimal__title #FirstScreen__button {
    margin: 26px 0 0 2px;
  }

  .slider {
    top: 40%;
    left: 44%;
  }

  #rangeTop {
    top: 82.5%;
    right: 20%;
  }

  #sliderTopBlock {
    top: 86.5%;
    right: 8.8%;
  }
}
@media (max-width: 432px) {
  .WatchingAnimal__title {
    font-size: 52px;
  }
}
@media (max-width: 320px) {
  .animalSelection {
    height: auto;
    min-height: 669px;
  }
  .animalSelection .social {
    display: none;
  }
  .animalSelection .WatchingAnimal .WatchingAnimal__title {
    font-size: 48px;
    line-height: 56.25px;
    top: 14%;
    width: 92%;
  }
  .animalSelection .WatchingAnimal .WatchingAnimal__title #FirstScreen__button {
    margin: 15px 0 0 0;
  }
  .animalSelection .slider {
    top: 38%;
    left: 1%;
  }
  .animalSelection .slider div {
    width: 113px;
    height: 164px;
  }
  .animalSelection .slider div:hover {
    transform: scale(1.2);
  }
  .animalSelection .slider div:hover .title {
    font-size: 12px;
    line-height: 14.06px;
  }
  .animalSelection .slider div img {
    width: 100%;
    height: 100%;
  }
  .animalSelection #rangeTop {
    top: 84.5%;
    right: 20%;
  }
  .animalSelection #sliderTopBlock {
    width: 44%;
    top: 89.5%;
    right: 10.5%;
  }
}
.HowItWorks {
  width: 100%;
  height: 1296px;
  margin: 50px auto 0;
}
.HowItWorks .HowItWorks__show {
  padding: 0 15px;
}
@media (min-width: 1201px) {
  .HowItWorks .HowItWorks__show {
    max-width: 790px;
    margin: 0 auto;
  }
}
.HowItWorks .HowItWorks__show h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
}
.HowItWorks .HowItWorks__show .slider__howItWorks {
  margin: 15px auto 30px;
  height: 323px;
  object-fit: cover;
}
@media (min-width: 1201px) {
  .HowItWorks .HowItWorks__show .slider__howItWorks {
    width: 790px;
  }
}
.HowItWorks .HowItWorks__show .HowItWorks__wrap {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.HowItWorks .HowItWorks__show .HowItWorks__wrap form {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.HowItWorks .HowItWorks__show .HowItWorks__wrap form input {
  margin: 0 auto;
  display: block;
  appearance: none;
  height: 5px;
  background-color: rgba(189, 189, 189, 0.57);
  margin-top: 14px;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  width: 245px;
}
.HowItWorks .HowItWorks__show .HowItWorks__wrap form label {
  margin: 0 auto;
  font-size: 22px;
}
.HowItWorks .HowItWorks__show .HowItWorks__wrap button {
  margin: 28px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background: #4bd8b5;
  background: linear-gradient(90deg, #4bd8b5 35%, #49d6df 100%);
}
.HowItWorks .HowItWorks__show .HowItWorks__wrap button p {
  margin: 0;
  padding-left: 5px;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

#HowItWorks__button:hover {
  background: linear-gradient(90deg, #cf4bd8 35%, #4963df 100%);
  cursor: pointer;
}

#HowItWorks__button:active {
  background: yellowgreen;
}

.HowItWorks_cart {
  background: #F2F2F2;
  margin: 100px 0 50px;
}
@media (min-width: 1201px) {
  .HowItWorks_cart {
    width: 100%;
  }
}
@media (min-width: 1201px) {
  .HowItWorks_cart .HowItWorks_cart_wrap {
    max-width: 1620px;
  }
}
.HowItWorks_cart .HowItWorks_cart_wrap div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  min-height: 413px;
}
@media (min-width: 1201px) {
  .HowItWorks_cart .HowItWorks_cart_wrap div {
    max-width: 380px;
  }
}
.HowItWorks_cart .HowItWorks_cart_wrap div p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.HowItWorks_cart .HowItWorks_cart_wrap div h3 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1200px) {
  .HowItWorks__show {
    display: flex;
    flex-direction: column;
    max-width: 746px;
    margin: 36px auto 0;
  }
  .HowItWorks__show h2 {
    margin: 0;
  }
  .HowItWorks__show p {
    padding: 0 auto;
    margin: 32px auto 0;
    line-height: 16.41px;
  }
  .HowItWorks__show .slider__howItWorks {
    width: 100%;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .HowItWorks_cart_wrap div {
    max-width: 287px;
  }
}

@media (max-width: 640px) {
  .HowItWorks {
    margin: 50px auto 25px;
    height: auto;
  }
  .HowItWorks .HowItWorks__show {
    margin: 42px auto 0;
    padding: 0 20px;
  }
  .HowItWorks .HowItWorks__show .slider__howItWorks {
    margin: 30px auto;
  }
  .HowItWorks .HowItWorks__show #HowItWorks__button {
    margin: 33px auto 0;
  }
  .HowItWorks .HowItWorks_cart {
    margin: 70px auto;
    height: auto;
  }
  .HowItWorks .HowItWorks_cart .HowItWorks_cart_wrap {
    flex-direction: column;
    margin: 100px auto;
  }
  .HowItWorks .HowItWorks_cart .HowItWorks_cart_wrap div {
    min-height: 197px;
    padding: 0;
  }
  .HowItWorks .HowItWorks_cart .HowItWorks_cart_wrap div h3 {
    margin: 14px 0;
  }
  .HowItWorks .HowItWorks_cart .HowItWorks_cart_wrap div p {
    margin: 0;
  }
  .HowItWorks .HowItWorks_cart .HowItWorks_cart_wrap .cart_mis {
    margin: 40px;
  }
}
@media (max-width: 320px) {
  .HowItWorks {
    margin: 0;
  }
  .HowItWorks .HowItWorks__show {
    margin: 50px auto 0;
    padding: 0 10px;
  }
  .HowItWorks .HowItWorks__show h2 {
    font-size: 36px;
    line-height: 42.19px;
  }
  .HowItWorks .HowItWorks__show p {
    margin: 22px 0 0 0;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400;
    font-style: normal;
  }
  .HowItWorks .HowItWorks__show .slider__howItWorks {
    margin: 47px auto 20px;
  }
  .HowItWorks .HowItWorks__show #HowItWorks__button {
    margin: 22px 22px 0 auto;
  }
  .HowItWorks .HowItWorks_cart .HowItWorks_cart_wrap {
    margin: 30px auto;
  }
  .HowItWorks .HowItWorks_cart .HowItWorks_cart_wrap div {
    max-width: 93%;
  }
  .HowItWorks .HowItWorks_cart .HowItWorks_cart_wrap .cart_mis {
    margin: 10px 0 14px 0;
  }
}
.PetsSlider {
  width: 100%;
  height: auto;
  flex-direction: column;
  margin: 150px auto;
}
.PetsSlider p {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 900;
}
.PetsSlider .selectAnimal {
  margin: 0 0 40px;
  display: block;
  appearance: none;
  height: 5px;
  background-color: rgba(189, 189, 189, 0.57);
  margin-top: 14px;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  width: 245px;
}
.PetsSlider #chooseAnimal {
  width: 245px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background: #4bd8b5;
  background: linear-gradient(90deg, #4bd8b5 35%, #49d6df 100%);
}
.PetsSlider #chooseAnimal a {
  text-decoration: none;
}
.PetsSlider #chooseAnimal a p {
  padding-left: 5px;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.PetsSlider .slider_pets {
  width: 100%;
  height: 421px;
  margin: 50px auto;
}
.PetsSlider .slider_pets div {
  position: relative;
  width: 278px;
  height: 399px;
  margin: 0 auto;
}
.PetsSlider .slider_pets div:hover {
  transform: scale(1.1);
  transition: 2s;
  z-index: 100;
}
.PetsSlider .slider_pets div:hover p, .PetsSlider .slider_pets div:hover button {
  opacity: 1;
  transition: all 1.5s linear;
}
.PetsSlider .slider_pets div .title {
  opacity: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  position: absolute;
  color: white;
  top: 55%;
  left: 10px;
}
.PetsSlider .slider_pets div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}
.PetsSlider .slider_pets div button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 24px;
  border: none;
  opacity: 0;
  background: inherit;
  position: absolute;
  top: 80%;
  left: 5%;
  text-transform: uppercase;
}
.PetsSlider .slider_pets div button a {
  text-decoration: none;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PetsSlider .slider_pets div button a #nameBut {
  color: #4bd8b5;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.PetsSlider .slider_pets div button a #nameButDonate {
  color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.PetsSlider .slider_pets div button a .imgBut {
  width: 25px;
  height: 25px;
}

.prewArrow, .nextArrow {
  max-width: 35px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.prewArrow:hover, .nextArrow:hover {
  width: 30px;
}

#arrow {
  width: 35px;
  height: 30px;
}

#arrows {
  width: 20px;
  height: 30px;
}
#arrows:hover {
  background: yellowgreen;
}

#chooseAnimal:hover {
  background: linear-gradient(90deg, #cf4bd8 35%, #4963df 100%);
  cursor: pointer;
}

#chooseAnimal:active {
  background: yellowgreen;
}

@media (max-width: 320px) {
  .PetsSlider {
    margin-bottom: 0;
  }
  .PetsSlider .slider_pets {
    margin: 30px 0;
  }
  .PetsSlider p {
    font-size: 36px;
    margin: 0;
    margin-top: 46px;
  }
  .PetsSlider .selectAnimal {
    margin: 10px 0 27px;
  }
  .PetsSlider #chooseAnimal p {
    margin: 0;
  }
}
@media (max-width: 640px) {
  .PetsSlider {
    margin: 0;
    margin-top: 0;
  }
}
@media (max-width: 640px) and (min-width: 361px) {
  .PetsSlider {
    margin-bottom: 50px;
  }
}
@media (max-width: 640px) {
  .PetsSlider .slider_pets {
    justify-content: left;
    height: auto;
  }
}
@media (max-width: 640px) and (min-width: 361px) {
  .PetsSlider .slider_pets {
    margin: 34px -17px 33px 0;
  }
}
@media (max-width: 640px) {
  .PetsSlider .slider_pets div {
    margin: 0 10px;
  }
  .PetsSlider .slider_pets .panda, .PetsSlider .slider_pets .eagle, .PetsSlider .slider_pets .garilla {
    min-width: 210px;
    height: 301px;
  }
  .PetsSlider .slider_pets .panda img, .PetsSlider .slider_pets .eagle img, .PetsSlider .slider_pets .garilla img {
    width: 100%;
    height: 100%;
  }
  .PetsSlider .slider_pets .prewArrow, .PetsSlider .slider_pets .nextArrow {
    height: auto;
  }
  .PetsSlider label {
    font-size: 27px;
    margin: 0;
  }
}
@media (max-width: 640px) and (min-width: 361px) {
  .PetsSlider .selectAnimal {
    margin: 10px 0 40px;
  }
}

@media (max-width: 1000px) {
  .PetsSlider {
    overflow: hidden;
  }
}
@media (max-width: 1000px) and (min-width: 641px) {
  .PetsSlider {
    margin-top: 100px;
  }
}
@media (max-width: 1000px) {
  .PetsSlider .prewArrow, .PetsSlider .nextArrow {
    max-width: 15px;
    display: none;
  }
  .PetsSlider .slider_pets {
    width: 100%;
  }
  .PetsSlider .slider_pets .croc {
    display: none;
  }
}
@media (max-width: 1000px) and (min-width: 641px) {
  .PetsSlider .slider_pets .panda, .PetsSlider .slider_pets .eagle, .PetsSlider .slider_pets .garilla {
    width: 28%;
    height: auto;
    margin: 0 auto;
  }
  .PetsSlider .slider_pets .panda img, .PetsSlider .slider_pets .eagle img, .PetsSlider .slider_pets .garilla img {
    width: 100%;
    height: 200%;
  }
}

@media (max-width: 1200px) and (min-width: 1001px) {
  .PetsSlider {
    max-width: 1200px;
    margin: 36px auto 118px;
  }
  .PetsSlider .slider_pets {
    height: 365px;
    width: 85%;
    margin: 0 auto;
  }
  .PetsSlider .slider_pets .prewArrow {
    max-width: 35px;
    margin: 0 7px;
  }
  .PetsSlider .slider_pets div {
    height: 301px;
    margin: 0 10px;
  }
  .PetsSlider .slider_pets .eagle, .PetsSlider .slider_pets .panda, .PetsSlider .slider_pets .croc, .PetsSlider .slider_pets .garilla {
    width: 210px;
  }
  .PetsSlider .slider_pets .eagle img, .PetsSlider .slider_pets .panda img, .PetsSlider .slider_pets .croc img, .PetsSlider .slider_pets .garilla img {
    width: 210px;
    height: 301px;
    border-radius: 5%;
  }
  .PetsSlider label {
    font-size: 22px;
    margin: -4px 0 12px;
  }
  .PetsSlider .selectAnimal {
    margin: 0 0 36px;
  }
}
.stepsToPay {
  width: 100%;
  height: auto;
  background: #F2F2F2;
  flex-direction: column;
  position: relative;
}
.stepsToPay .stepsToPay_title {
  margin-top: 80px;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.stepsToPay .stepsToPay_info {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.stepsToPay .steps {
  margin: 60px auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.stepsToPay .steps .step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 245px;
  height: 245px;
  border: 1px solid #4bd8b5;
  border-radius: 50%;
}
.stepsToPay .steps .step h3 {
  margin: 15px auto;
  color: #4F4F4F;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 23.44px;
  font-weight: 900;
  text-align: center;
}
.stepsToPay .arrow1 {
  width: 107px;
  height: auto;
  position: absolute;
  top: 55%;
  left: 30.5%;
}
.stepsToPay .arrow2 {
  width: 107px;
  height: auto;
  position: absolute;
  top: 55%;
  left: 60.5%;
}
.stepsToPay #donate {
  margin-bottom: 80px;
  width: 245px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background: #4bd8b5;
  background: linear-gradient(90deg, #4bd8b5 35%, #49d6df 100%);
}
.stepsToPay #donate p {
  padding-left: 5px;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

#donate:hover {
  background: linear-gradient(90deg, #cf4bd8 35%, #4963df 100%);
  cursor: pointer;
}

#donate:active {
  background: yellowgreen;
}

@media (max-width: 1200px) {
  .stepsToPay {
    width: 100%;
  }
  .stepsToPay .stepsToPay_title {
    margin: 80px auto 15px;
  }
  .stepsToPay .steps {
    width: 89%;
    margin: 30px auto;
  }
  .stepsToPay .arrow1, .stepsToPay .arrow2 {
    width: 48px;
  }
  .stepsToPay .arrow1 img, .stepsToPay .arrow2 img {
    width: 48px;
  }
  .stepsToPay .arrow1 {
    top: 55%;
    left: 34%;
  }
  .stepsToPay .arrow2 {
    top: 55%;
    left: 62%;
  }
  .stepsToPay #donate {
    margin: 23px auto 40px;
  }
}
@media (max-width: 1100px) {
  .stepsToPay .arrow1, .stepsToPay .arrow2 {
    display: none;
  }
}
@media (max-width: 640px) {
  .stepsToPay {
    margin-top: 50px;
  }
  .stepsToPay .stepsToPay_title {
    margin: 100px auto 15px;
  }
  .stepsToPay .stepsToPay_info {
    width: 83%;
    margin: 0;
    text-align: center;
  }
  .stepsToPay .steps {
    margin: 45px auto;
    flex-direction: column;
  }
  .stepsToPay .arrow1, .stepsToPay .arrow2 {
    display: block;
    transform: rotate(90deg);
  }
  .stepsToPay .arrow1 {
    position: absolute;
    top: 40.5%;
    left: 46.5%;
  }
  .stepsToPay .arrow2 {
    position: absolute;
    top: 66.5%;
    left: 46.5%;
  }
  .stepsToPay #centrItem {
    margin: 100px auto 95px;
  }
  .stepsToPay #donate {
    margin: 3px auto 40px;
  }
}
@media (max-width: 320px) {
  .stepsToPay .stepsToPay_title {
    font-size: 36px;
    margin: 50px auto 15px;
  }
  .stepsToPay .stepsToPay_info {
    display: none;
  }
  .stepsToPay .steps {
    margin: 15px auto 36px;
  }
  .stepsToPay .arrow1 {
    position: absolute;
    top: 34.5%;
    left: 43%;
  }
  .stepsToPay .arrow2 {
    position: absolute;
    top: 63%;
    left: 42.5%;
  }
  .stepsToPay #donate {
    margin: 3px auto 50px;
  }
}
.coments {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.coments .coments__title {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
@media (min-width: 1201px) {
  .coments .coments__title {
    margin-top: 80px;
  }
}
.coments .coments__slider {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 1201px) {
  .coments .coments__slider {
    margin: 30px auto;
  }
}
.coments .coments__slider div {
  margin: 15px;
}
.coments .coments__slider .feed {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 310px;
  box-shadow: 1px 1px 20px 0px grey;
}
@media (min-width: 1201px) {
  .coments .coments__slider .feed {
    width: 40%;
    max-width: 600px;
  }
}
.coments .coments__slider .feed .feed__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border-radius: 50%;
}
.coments .coments__slider .feed .feed__name {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 900;
}
.coments .coments__slider .feed .feed__text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
}
.coments #InRange {
  margin: 15px;
  display: block;
  appearance: none;
  height: 5px;
  background-color: rgba(189, 189, 189, 0.57);
  margin-top: 14px;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  width: 245px;
  top: 825px;
  right: 530px;
}
.coments #leaveFeedback {
  margin: 20px;
  width: 245px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background: #4bd8b5;
  background: linear-gradient(90deg, #4bd8b5 35%, #49d6df 100%);
}
.coments #leaveFeedback p {
  padding-left: 5px;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .coments {
    margin-bottom: 80px;
  }
  .coments .coments__title {
    margin-top: 157px;
  }
  .coments .coments__slider {
    width: 90%;
    height: 310px;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 10px auto 52px;
  }
  .coments .coments__slider .feed {
    width: 37%;
    height: 310px;
    justify-content: start;
    padding: 22px 7px 0;
  }
  .coments .coments__slider .feed .feed__avatar {
    margin-top: 44px;
  }
  .coments .coments__slider .feed h3 {
    margin: 0;
  }
  .coments .coments__slider .feed p {
    margin: 0;
    padding: 0 25px;
  }
  .coments label {
    font-size: 22px;
    margin: 0;
  }
}
@media (max-width: 640px) {
  .coments .coments__slider {
    margin: 0 auto 40px;
    height: 245px;
  }
  .coments .coments__slider .feed {
    margin: 30px auto 0;
    padding: 33px 7px 0;
    width: 100%;
  }
  .coments .coments__slider .feed .feed__avatar {
    margin: 50px auto 15px;
  }
  .coments .coments__slider .feed .feed__text {
    width: 81%;
    padding: 0;
  }
  .coments .coments__slider #commentItem_Sec, .coments .coments__slider .prewArrow, .coments .coments__slider .nextArrow {
    display: none;
  }
  .coments label {
    margin: 70px 0 0 0;
  }
}
@media (max-width: 320px) {
  .coments {
    margin-bottom: 40px;
  }
  .coments .coments__title {
    font-size: 36px;
    margin: 48px 0 18px 0;
  }
  .coments .coments__slider {
    margin: 50px auto 40px;
    min-height: 245px;
  }
  .coments label {
    margin: 85px 0 0 0;
  }
  .coments #leaveFeedback {
    margin: 10px;
  }
}
#leaveFeedback:hover {
  background: linear-gradient(90deg, #cf4bd8 35%, #4963df 100%);
  cursor: pointer;
}

#leaveFeedback:active {
  background: yellowgreen;
}

.Map {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #F2F2F2;
  position: relative;
}
@media (min-width: 1201px) {
  .Map #LocEagle {
    position: absolute;
    top: 36%;
    left: 13%;
  }
  .Map #LocCroc {
    position: absolute;
    top: 38%;
    left: 21.8%;
  }
  .Map #LocGarilla {
    position: absolute;
    top: 47%;
    left: 49%;
  }
  .Map #LocPanda {
    position: absolute;
    top: 37%;
    left: 76%;
  }
}
.Map .Map__title {
  margin-top: 80px;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.Map #mapBackgr {
  width: 100%;
  height: 100%;
  margin: 35px 0;
}
.Map #mapButt {
  margin: 20px auto 80px;
  width: 245px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background: #4bd8b5;
  background: linear-gradient(90deg, #4bd8b5 35%, #49d6df 100%);
}
.Map #mapButt a {
  text-decoration: none;
}
.Map #mapButt a p {
  padding-left: 5px;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.Map .MapAnimal__info {
  z-index: 5;
  display: flex;
  opacity: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 436px;
  height: auto;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 0 grey;
}
@media (min-width: 1201px) {
  .Map .MapAnimal__info {
    position: absolute;
    top: 385px;
    left: 80px;
  }
}
.Map .MapAnimal__info .animalAv {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.Map .MapAnimal__info .animName {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
}
.Map .MapAnimal__info .animalRegion, .Map .MapAnimal__info .animalPopulation {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.Map .ImWrap {
  position: relative;
}
.Map .ImWrap .mainImg {
  position: absolute;
  top: -10px;
  left: -12px;
}
.Map .ImWrap .mainImg:hover {
  fill: #EB5757;
}

@media (max-width: 1200px) {
  .Map {
    margin: 50px auto 20px;
  }
  .Map #mapBackgr {
    margin: 10px 0;
  }
  .Map #mapButt {
    margin: -36px auto 80px;
  }
  .Map .Map__title {
    margin: 48px auto;
  }
  .Map #LocEagle {
    position: absolute;
    top: 34%;
    left: 13%;
  }
  .Map #LocCroc {
    position: absolute;
    top: 36%;
    left: 21.8%;
  }
  .Map #LocGarilla {
    position: absolute;
    top: 45%;
    left: 49%;
  }
  .Map #LocPanda {
    position: absolute;
    top: 35%;
    left: 76%;
  }
  .Map .MapAnimal__info {
    position: absolute;
    top: 55%;
    right: 4%;
  }
}
@media (max-width: 640px) {
  .Map {
    margin: 0 auto 0;
    padding: 50px 0 0 0;
  }
  .Map #mapButt {
    margin: 42px auto 80px;
  }
  .Map #LocEagle {
    position: absolute;
    top: 35%;
    left: 12%;
  }
  .Map #LocCroc {
    position: absolute;
    top: 38%;
    left: 20.5%;
  }
  .Map #LocGarilla {
    position: absolute;
    top: 45%;
    left: 47.5%;
  }
  .Map #LocPanda {
    position: absolute;
    top: 37%;
    left: 75%;
  }
}
@media (max-width: 320px) {
  .Map .Map__title {
    font-size: 36px;
    margin: 0 0 0 0;
  }
  .Map #mapButt {
    margin: 50px auto 60px;
  }
}
#LocalEagle .MapAnimal__info {
  z-index: 5;
  display: flex;
  opacity: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 436px;
  height: auto;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 0 grey;
}
@media (min-width: 1201px) {
  #LocalEagle .MapAnimal__info {
    position: absolute;
    top: 385px;
    left: 80px;
  }
}
#LocalEagle .MapAnimal__info .animalAv {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
#LocalEagle .MapAnimal__info .animName {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
}
#LocalEagle .MapAnimal__info .animalRegion, #LocalEagle .MapAnimal__info .animalPopulation {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.ImWrap:hover .MapAnimal__info {
  opacity: 1;
  z-index: 5;
  top: 300%;
}

#mapButt:hover {
  background: linear-gradient(90deg, #cf4bd8 35%, #4963df 100%);
  cursor: pointer;
}

#mapButt:active {
  background: yellowgreen;
}

.footer {
  display: flex;
  max-width: 1620px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  background: #333333;
  color: #FFFFFF;
  padding: 100px 150px 50px;
}
@media (min-width: 1201px) {
  .footer {
    min-height: 750px;
  }
}
.footer .foot-wrap-first {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
}
.footer .foot-wrap-first .ContactsForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
  width: 50%;
}
.footer .foot-wrap-first .ContactsForm .logo_footer {
  width: 60px;
  height: 55px;
}
.footer .foot-wrap-first .ContactsForm h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 900;
}
.footer .foot-wrap-first .ContactsForm #inpName, .footer .foot-wrap-first .ContactsForm #inpEmail {
  padding: 10px 0;
  background: inherit;
  width: 383px;
  height: 26px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.footer .foot-wrap-first .ContactsForm #inpMessage {
  width: 383px;
  height: 124px;
  margin: 35px 0;
  background: inherit;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.footer .foot-wrap-first .ContactsForm .check {
  display: flex;
  align-items: center;
}
.footer .foot-wrap-first .ContactsForm .check #ChecPersData {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}
.footer .foot-wrap-first .ContactsForm .check #ChecPersData:checked {
  background-color: grey;
}
.footer .foot-wrap-first .ContactsForm .check label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.footer .foot-wrap-first .ContactsForm #sendForm {
  width: 250px;
  height: 50px;
  background: inherit;
  border: none;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  align-self: center;
}
.footer .foot-wrap-first .ContactsForm #sendForm:hover {
  border: 1px solid grey;
}
.footer .foot-wrap-first .ContactsForm #sendForm p {
  margin: 0;
}
.footer .foot-wrap-first .InfoAboutUs {
  width: 50%;
}
@media (min-width: 1201px) {
  .footer .foot-wrap-first .InfoAboutUs {
    padding: 50px 0;
  }
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi {
  flex-grow: 2;
  height: 42px;
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list {
  flex-direction: row;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li {
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li a {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li a:hover {
  transition: 2s;
  text-shadow: 3px 5px 5px #49d6df;
  color: #4bd8b5;
  text-decoration: underline;
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li a #donateVol {
  height: 55px;
  border: none;
  border-radius: 5px;
  background: #4bd8b5;
  background: linear-gradient(90deg, #4bd8b5 35%, #49d6df 100%);
}
@media (min-width: 1201px) {
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li a #donateVol {
    width: 245px;
  }
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li a #donateVol p {
  padding: 0 auto;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
}
@media (min-width: 1201px) {
  .footer .foot-wrap-first .InfoAboutUs .infoAboutZoo {
    margin-top: 30px;
  }
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 1201px) {
  .footer .foot-wrap-first .InfoAboutUs .infoAboutZoo p {
    margin: 2px 0;
  }
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .Info__workTime {
  margin-bottom: 22px;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo a {
  color: #FFFFFF;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .info__title {
  margin: 15px 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .social_footer {
  margin-top: 15px;
  width: 20px;
  height: auto;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .social_footer .social__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .social_footer .social__list li {
  list-style-type: none;
  border-radius: 10px;
}
@media (min-width: 1201px) {
  .footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .social_footer .social__list li {
    padding: 10px;
  }
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .social_footer .social__list li a {
  text-decoration: none;
}
.footer .foot-wrap-sec {
  border-top: 1px solid #FFFFFF;
  height: 20%;
}

@media (max-width: 1200px) {
  .footer {
    padding: 0;
    padding-top: 100px;
    margin: 0 auto;
    min-height: auto;
    align-items: center;
  }
  .footer .foot-wrap-first {
    width: 75%;
  }
  .footer .foot-wrap-first .ContactsForm {
    padding: 0;
  }
  .footer .foot-wrap-first .ContactsForm h3 {
    margin: 56px 0 0;
  }
  .footer .foot-wrap-first .ContactsForm #inpEmail {
    width: 100%;
  }
  .footer .foot-wrap-first .ContactsForm #inpName {
    margin: 15px 0 0 0;
    width: 100%;
  }
  .footer .foot-wrap-first .ContactsForm #inpMessage {
    margin: 16px 0 10px;
    max-width: 376px;
    width: 98%;
    height: 120px;
  }
  .footer .foot-wrap-first .ContactsForm .check #ChecPersData {
    width: 13px;
    height: 13px;
    border-radius: 0;
  }
  .footer .foot-wrap-first .ContactsForm .check label {
    font-size: 12px;
  }
  .footer .foot-wrap-first .ContactsForm #sendForm {
    margin: 0 0 0 160px;
  }
  .footer .foot-wrap-first .ContactsForm #sendForm p {
    font-size: 16px;
  }
  .footer .InfoAboutUs {
    padding: 0;
  }
}
@media (max-width: 1200px) and (min-width: 641px) {
  .footer .InfoAboutUs {
    position: relative;
  }
}
@media (max-width: 1200px) {
  .footer .InfoAboutUs .FooterNavi .footer-nav__list {
    margin-top: 20px;
  }
  .footer .InfoAboutUs .FooterNavi .footer-nav__list #donateVol {
    width: 99%;
    max-width: 276px;
    position: absolute;
    top: 68%;
    left: 2%;
  }
  .footer .InfoAboutUs .infoAboutZoo {
    margin: 42px 0 0 8px;
  }
  .footer .InfoAboutUs .infoAboutZoo .info__title {
    margin: 14px 0 0;
  }
  .footer .InfoAboutUs .infoAboutZoo .info__adress {
    margin: 15px 0 0 0;
  }
  .footer .InfoAboutUs .infoAboutZoo .Info__workTime {
    margin: 0 0 0 0;
  }
  .footer .InfoAboutUs .infoAboutZoo .social__item {
    padding: 6px;
  }
  .footer .foot-wrap-sec {
    align-self: center;
    margin-top: 40px;
    width: 75%;
  }
  .footer .foot-wrap-sec p {
    font-size: 12px;
    margin: 5px;
  }
  .footer .foot-wrap-sec #NameAuthor {
    margin: 33px 0 0 0;
  }
  .footer .foot-wrap-sec #ForRSSchool {
    margin-bottom: 50px;
  }
}
@media (max-width: 640px) {
  .footer {
    padding: 100px 0 0 19px;
    align-items: flex-start;
  }
  .footer .foot-wrap-first {
    position: relative;
    flex-direction: column;
  }
  .footer .foot-wrap-first .ContactsForm {
    width: 83%;
  }
  .footer .foot-wrap-first .ContactsForm h3 {
    margin: 130px 0 0;
  }
  .footer .foot-wrap-first .ContactsForm #sendForm {
    margin: -10px 0 0 250px;
  }
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi {
    position: absolute;
    top: 12%;
    left: -11%;
  }
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list {
    flex-direction: column;
    width: 150px;
  }
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li {
    margin: 2px;
  }
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list #donateVol {
    width: 185%;
    position: absolute;
    top: -230%;
    left: 250%;
  }
  .footer .foot-wrap-first .InfoAboutUs .infoAboutZoo {
    margin: 50px 0 0 2px;
  }
  .footer .foot-wrap-sec {
    margin-top: 60px;
    padding: 20px 0;
  }
}
@media (max-width: 620px) {
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list #donateVol {
    width: 185%;
    position: absolute;
    top: -230%;
    left: 200%;
  }
}
@media (max-width: 560px) {
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list #donateVol {
    width: 185%;
    position: absolute;
    top: -230%;
    left: 150%;
  }
}
@media (max-width: 490px) {
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list #donateVol {
    width: 185%;
    position: absolute;
    top: -230%;
    left: 100%;
  }
}
@media (max-width: 420px) {
  .footer .foot-wrap-first .ContactsForm #sendForm {
    margin: -10px 0 0 150px;
  }
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list #donateVol {
    width: 100%;
    position: absolute;
    top: -230%;
    left: 100%;
  }
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list #donateVol p {
    margin: 0;
  }
}
@media (max-width: 320px) {
  .footer {
    padding: 50px 0 0 10px;
  }
  .footer .foot-wrap-first {
    width: 100%;
    margin-bottom: 110px;
  }
  .footer .foot-wrap-first .ContactsForm {
    width: 97%;
  }
  .footer .foot-wrap-first .ContactsForm h3 {
    margin: 145px 0 0 0;
  }
  .footer .foot-wrap-first .ContactsForm #sendForm {
    margin: -10px 0 0 0;
    display: flex;
    justify-content: flex-end;
  }
  .footer .foot-wrap-first .InfoAboutUs {
    width: 70%;
  }
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi {
    top: 14%;
    left: -17%;
  }
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li {
    margin: 4px 0 0;
  }
  .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list #donateVol {
    width: 185%;
    top: 1705%;
    left: 42%;
  }
  .footer .foot-wrap-first .InfoAboutUs .infoAboutZoo {
    margin: 23px 0 0 2px;
  }
}
#donateVol:hover {
  background: linear-gradient(90deg, #cf4bd8 35%, #4963df 100%);
  cursor: pointer;
}

#donateVol:active {
  background: yellowgreen;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.4px solid #000000;
  height: 20px;
  width: 36px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

label {
  color: grey;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 10px;
}

h1 {
  visibility: hidden;
}
