body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  border: solid whitesmoke;
}
.wrapp{
  margin: 0 auto;
  max-width: 1920px;
}

.header, .header__nav, .header-nav__list, .main, .social .social__list, .slider, .HowItWorks_cart, .HowItWorks_cart .HowItWorks_cart_wrap, .PetsSlider, .PetsSlider .slider_pets, .stepsToPay, .footer .foot-wrap-first .InfoAboutUs .FooterNavi, .footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrap {
  border-bottom: 0.1px solid;
  box-shadow: 0px 10px 10px -7px grey;
}

.header {
  margin: 20px auto;
  max-width: 1620px;
  flex-direction: row;
  width: 100%;
}

.header__logo {
  width: 60px;
  height: 45px;
  border-radius: 5px;
}
.header__logo:hover {
  transition: 2s;
  box-shadow: 1px 5px 5px #49d6df;
}

.logo {
  width: 59px;
  height: 42px;
  background-image: url("../../assets/headerLogo.png");
}

.header__nav {
  flex-grow: 2;
  height: 42px;
}

.header-nav__list {
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 50%;
}
.header-nav__list li {
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-nav__list li a {
  height: 100%;
  width: 100%;
  font-family: "roboto";
  font-size: 16px;
  text-decoration: none;
  color: black;
  text-align: center;
  vertical-align: middle;
}
.header-nav__list li a:hover {
  transition: 2s;
  text-shadow: 3px 5px 5px #49d6df;
  color: #4bd8b5;
  text-decoration: underline;
}

#Inst:hover {
  background: linear-gradient(335deg, #d8d44b 35%, #b549df 78%);
}

#Twit:hover {
  background: #00acee;
}

#Youtube:hover {
  background: red;
}

#VK:hover {
  background: #597da3;
}

.changeTheme {
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
}
.changeTheme input {
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  background-color: #F2F2F2;
  border-radius: 20px;
  transition: .5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
}
.changeTheme input:cheked {
  background-color: grey;
}
.changeTheme input:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: white;
  transition: .5s;
  transform: scale(1.1);
  box-shadow: 0 1px 2px whitesmoke;
}
.changeTheme input:checked:before {
  left: 22px;
}


/*      title */
.slider, .slider__inform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.slider__inform {
  max-width: 790px;
}

.slider__title {
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 900;
}
.slider__info {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}

.arrows {
  width: 20px;
  height: 35px;
  margin: 5px;
}

.arrows:hover, .arrow:hover {
background: yellowgreen;
}

.slider__items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.item {
  width: 157px;
  height: 157px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 0 0 4px white, 0 0 0 6px #4bd8b5;
  box-shadow: linear-gradient(90deg, #4bd8b5 35%, #49d6df 100%);;
}

.garilla {
  width: 200px;
  height: auto;
  margin: -14px 0 0 -18px;
}

.panda {
  width: 250px;
  height: auto;
  margin: -6px 0 0 -62px;
}


.croc {
  width: 236px;
  height: auto;
  margin: 0px 0 0 -74px;
}


.eagle {
  width: 250px;
  height: auto;
  margin: -17px 0 0 -72px;
}


.tigra {
  width: 220px;
  height: auto;
  margin: -46px 0 0 -35px;
}


.elef {
  width: 250px;
  height: auto;
  margin: -5px 0 0 -56px;
}


.lion {
  width: 230px;
  height: auto;
  margin: -142px 0 0 -56px;
}


.zebra {
  width: 250px;
  height: auto;
  margin: -9px 0 0 -52px;
}












.Map {
  width: 1920px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* background: #F2F2F2; */
  position: relative;
}
.Map #LocEagle {
  position: absolute;
  top: 307px;
  left: 501px;
}
.Map #LocCroc {
  position: absolute;
  top: 332px;
  left: 616px;
}
.Map #LocGarilla {
  position: absolute;
  top: 419px;
  left: 944px;
}
.Map #LocPanda {
  position: absolute;
  top: 325px;
  left: 1264px;
}
.Map .Map__title {
  margin-top: 80px;
  font-size: 48px;
  font-family: 'Roboto';
  font-weight: 900;
}
.Map #mapBackgr {
  width: 1200px;
  height: 498px;
  margin: 35px 0;
}
.Map #mapButt {
  margin: 20px auto 80px;
  width: 245px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background: #4bd8b5;
  background: linear-gradient(90deg, #4bd8b5 35%, #49d6df 100%);
}
.Map #mapButt p {
  padding-left: 5px;
  font-size: 18px;
  color: white;
  font-family: 'Roboto';
  font-weight: 900;
  text-transform: uppercase;
}

.Map .ImWrap {
  position: relative;
}
.Map .ImWrap .mainImg {
  position: absolute;
  top: -10px;
  left: -12px;
}
.mainImg:hover {
  fill: #EB5757;
}

#mapButt:hover {
  background: linear-gradient(90deg, #cf4bd8 35%, #4963df 100%);
  cursor: pointer;
}

#mapButt:active {
  background: yellowgreen;
}







.footer {
  display: flex;
  min-height: 750px;
  flex-direction: column;
  justify-content: space-between;
  background: #333333;
  color: #FFFFFF;
  padding: 100px 150px 50px;
}
.footer .foot-wrap-first {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
}
.footer .foot-wrap-first .ContactsForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
  width: 50%;
}
.footer .foot-wrap-first .ContactsForm .logo_footer {
  width: 60px;
  height: 55px;
}
.footer .foot-wrap-first .ContactsForm h3 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 900;
}
.footer .foot-wrap-first .ContactsForm #inpName, .footer .foot-wrap-first .ContactsForm #inpEmail {
  padding: 10px 0;
  background: inherit;
  width: 383px;
  height: 26px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
.footer .foot-wrap-first .ContactsForm #inpMessage {
  width: 383px;
  height: 124px;
  margin: 35px 0;
  background: inherit;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
.footer .foot-wrap-first .ContactsForm .check {
  display: flex;
  align-items: center;
}
.footer .foot-wrap-first .ContactsForm .check #ChecPersData {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}
.footer .foot-wrap-first .ContactsForm .check #ChecPersData:checked {
  background-color: grey;
}
.footer .foot-wrap-first .ContactsForm .check label {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
.footer .foot-wrap-first .ContactsForm #sendForm {
  width: 250px;
  height: 50px;
  background: inherit;
  border: none;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  align-self: center;
}
.footer .foot-wrap-first .ContactsForm #sendForm p {
  margin: 0;
}
.footer .foot-wrap-first .InfoAboutUs {
  padding: 50px 0;
  width: 50%;
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi {
  flex-grow: 2;
  height: 42px;
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list {
  flex-direction: row;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li {
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li a {
  height: 100%;
  width: 100%;
  font-family: "roboto";
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li a:hover {
  transition: 2s;
  text-shadow: 3px 5px 5px #49d6df;
  color: #4bd8b5;
  text-decoration: underline;
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li a #donateVol {
  width: 245px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background: #4bd8b5;
  background: linear-gradient(90deg, #4bd8b5 35%, #49d6df 100%);
}
.footer .foot-wrap-first .InfoAboutUs .FooterNavi .footer-nav__list li a #donateVol p {
  padding-left: 5px;
  font-size: 18px;
  color: white;
  font-family: 'Roboto';
  font-weight: 900;
  text-transform: uppercase;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo p {
  margin: 2px 0;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .Info__workTime {
  margin-bottom: 15px;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo a {
  color: #FFFFFF;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .info__title {
  margin: 15px 0 20px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .social_footer {
  margin-top: 15px;
  width: 20px;
  height: auto;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .social_footer .social__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .social_footer .social__list li {
  padding: 10px;
  list-style-type: none;
  border-radius: 10px;
}
.footer .foot-wrap-first .InfoAboutUs .infoAboutZoo .social_footer .social__list li a {
  text-decoration: none;
}
.footer .foot-wrap-sec {
  border-top: 1px solid #FFFFFF;
  height: 20%;
}

#donateVol:hover {
  background: linear-gradient(90deg, #cf4bd8 35%, #4963df 100%);
  cursor: pointer;
}

#donateVol:active {
  background: yellowgreen;
}

h1 {
  visibility: hidden;
}



.selectAnimal {
  margin: 0 0 15px;
  display: block;
  appearance: none;
  height: 5px;
  background-color: rgba(189, 189, 189, 0.57);
  margin-top: 14px;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  width: 245px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.4px solid #000000;
  height: 20px;
  width: 36px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

label {
  color: grey;
  font-size: 48px;
  font-family: 'Roboto';
  font-weight: 900;
  margin: 10px;
}