body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    border: solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

%align {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

//                         header

.header {
    margin: 20px auto;
    max-width: 1620px;
    @extend %align; 
    flex-direction: row;
    width: 100%;
}

.header__logo {
    width: 60px;
    height: 45px;
    border-radius: 5px;
    &:hover {
        transition: 2s;
        box-shadow: 1px 5px 5px rgba(73,214,223,1);
    }
}

.logo {
    width: 59px;
    height: 42px;
    background-image: url("../../../assets/headerLogo.png");
}

.header__nav {
    @extend %align;
    flex-grow: 2;
    height: 42px;
}

.header-nav__list {
    @extend %align;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 50%;
    li {
        list-style-type: none;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        a {
            height: 100%;
            width: 100%;
            font-family: "roboto";
            font-size: 16px;
            text-decoration: none;
            color: black;
            text-align: center;
            vertical-align: middle;
            &:hover {
                transition: 2s;
                text-shadow: 3px 5px 5px rgba(73,214,223,1);
                color: rgb(75,216,181);
                text-decoration: underline;
            }
        }
    }
}

.changeTheme {
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    input {
        width: 40px;
        height: 20px;
        -webkit-appearance: none;
        outline: none;
        background-color: #F2F2F2;
        border-radius: 20px;
        transition: .5s;
        box-shadow: inset 0 0 5px rgba(0,0,0,.2);
        position: relative;
    }
    input:cheked {
        background-color: grey;
    }
    input:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 20px;
        top: 0;
        left: 0;
        background:white;
        transition: .5s;
        transform: scale(1.1);
        box-shadow: 0 1px 2px whitesmoke;
    }
    input:checked:before{
        left: 22px;
    }
}


//                           Block slider
.arrows {
    width: 20px;
    height: 35px;
    margin: 5px;
    transform: rotate(90deg);
    &:hover {
        background: yellowgreen;
    }
  }
  .arrow {
    transform: rotate(90deg);  
    &:hover {
        background: yellowgreen;
    }
  }
  
  .slider__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
  }
  
  .item {
    width: 157px;
    height: 157px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 0 0 4px white, 0 0 0 6px #4bd8b5;
    box-shadow: linear-gradient(90deg, #4bd8b5 35%, #49d6df 100%);;
  }
  
  .garilla {
    width: 200px;
    height: auto;
    margin: -14px 0 0 -18px;
  }
  
  .panda {
    width: 250px;
    height: auto;
    margin: -6px 0 0 -62px;
  }
  
  
  .croc {
    width: 236px;
    height: auto;
    margin: 0px 0 0 -74px;
  }
  
  
  .eagle {
    width: 250px;
    height: auto;
    margin: -17px 0 0 -72px;
  }
  
  //                             video block

main {
    display: flex;
    // justify-content: left;
    align-items: center;
    margin: 0 auto 50px;
    .main {
        margin-left: 200px;
        .main__title {
            font-family: 'Roboto';
            font-size: 48px;
            font-weight: 900;
            margin-bottom: 20px;
        }
        .main__info {
            display: flex;
            align-items: center;
            justify-content: center;
            .infoBlock {
                width: 450px;
                align-self: flex-start;
                margin-left: 40px;
                .info__title {
                    font-family: 'Roboto' serif;
                    font-size: 20px;
                    font-weight: 900;
                }
                .inform {
                    font-family: 'Roboto' serif;
                    font-size: 14px;
                    font-weight: 400;
                    align-self: flex-start;
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 25px;
                    width: 245px;
                    height: 55px;
                    border: none;
                    border-radius: 5px;
                    background: rgb(75,216,181);
                    background: linear-gradient(90deg, rgba(75,216,181,1) 35%, rgba(73,214,223,1) 100%);
                    p {
                        padding-left: 5px;
                        font-size: 18px;
                        color: white;
                        font-family: 'Roboto';
                        font-weight: 900;
                        text-transform: uppercase;
                    }
                }  
            }
        }
    }
}
#FirstScreen__button:hover {
    background: linear-gradient(90deg, rgba(207,75,216,1) 35%, rgba(73,99,223,1) 100%);
    cursor: pointer;
}
#FirstScreen__button:active {
    background: yellowgreen;
}



//                                            Footer
.footer {
    margin: 0 auto;
    display: flex;
    min-height: 750px;
    flex-direction: column;
    justify-content: space-between;
    background: #333333;
    color: #FFFFFF;
    padding: 100px 150px 50px;
    .foot-wrap-first {
        height: 80%;
        display: flex;
        justify-content: space-evenly;

        .ContactsForm {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 50px 0;
            width: 50%;
            .logo_footer {
                width: 60px;
                height: 55px;
            }
            h3 {
                font-family: 'Roboto';
                font-size: 20px;
                font-weight: 900;
            }
            #inpName, #inpEmail {
                padding: 10px 0;
                background: inherit;
                width: 383px;
                height: 26px;
                border: none;
                border-bottom: 1px solid #FFFFFF;
                color: #FFFFFF;
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 400;
            }
            #inpMessage {
                width: 383px;
                height: 124px;
                margin: 35px 0;
                background: inherit;
                border: 1px solid #FFFFFF;
                border-radius: 5px;
                color: #FFFFFF;
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 400;
            }
            .check {
                display: flex;
                align-items: center;
                #ChecPersData {
                    -webkit-appearance: none;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #FFFFFF;
                    border-radius: 5px;
                    &:checked {
                        background-color: grey;
                    }
                }
                label {
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            #sendForm {
                width: 250px;
                height: 50px;
                background: inherit;
                border: none;
                color: #FFFFFF;
                font-family: 'Roboto';
                font-size: 22px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin: 20px;
                align-self: center;
                p {
                    margin: 0;
                }
            }
        }   




        .InfoAboutUs {
            padding: 50px 0;
            width: 50%;
            .FooterNavi {
                @extend %align;
                flex-grow: 2;
                height: 42px;
                .footer-nav__list {
                    @extend %align;
                    flex-direction: row;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    width: 1000px;
                    li {
                        list-style-type: none;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        a {
                            height: 100%;
                            width: 100%;
                            font-family: "roboto";
                            font-size: 16px;
                            text-decoration: none;
                            color: #FFFFFF;
                            text-align: center;
                            vertical-align: middle;
                            &:hover {
                                transition: 2s;
                                text-shadow: 3px 5px 5px rgba(73,214,223,1);
                                color: rgb(75,216,181);
                                text-decoration: underline;
                            }
                            #donateVol {
                                width: 245px;
                                height: 55px;
                                border: none;
                                border-radius: 5px;
                                background: rgb(75,216,181);
                                background: linear-gradient(90deg, rgba(75,216,181,1) 35%, rgba(73,214,223,1) 100%);
                                p {
                                    padding-left: 5px;
                                    font-size: 18px;
                                    color: white;
                                    font-family: 'Roboto';
                                    font-weight: 900;
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }
                }
            }
            .infoAboutZoo {
                display: flex;
                justify-content: space-evenly;
                align-content: center;
                flex-direction: column;
                margin-top: 30px;
                p {
                    margin: 2px 0;
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-weight: 400;
                }
                .Info__workTime {
                    margin-bottom: 15px;
                }
                a {
                    color: #FFFFFF;
                }
                .info__title {
                    margin: 15px 0 20px;
                    font-family: 'Roboto';
                    font-size: 14px;
                    font-weight: 700;
                }
                .social_footer {
                    // position: absolute;
                    // top: 732px;
                    // left: 150px;
                    margin-top: 15px;
                    width: 20px;
                    height: auto;
                    .social__list {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        li {
                            padding: 10px;
                            list-style-type: none;
                            border-radius: 10px;
                            a{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .foot-wrap-sec {
        border-top: 1px solid #FFFFFF;
        height: 20%;
        // display: flex;
        // justify-content: left;
        // align-items: center;
        // flex-direction: column;
    }
}


#donateVol:hover {
    background: linear-gradient(90deg, rgba(207,75,216,1) 35%, rgba(73,99,223,1) 100%);
    cursor: pointer;
}
#donateVol:active {
    background: yellowgreen;
}

#Inst:hover {
    background: linear-gradient(335deg, #d8d44b 35%, #b549df 78%);
  }
  
  #Twit:hover {
    background: #00acee;
  }
  
  #Youtube:hover {
    background: red;
  }
  
  #VK:hover {
    background: #597da3;
  }